body {
  font-family: 'Major Mono Display', monospace;
}

#left-panel {
  height: 100vh;
  background-color: white;
}

#right-panel {
  height: 100vh;
  background-color: #4f5b62;
  background-image: url("img/prince_caliph.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 !important;
  margin: 0 !important;
}

#featured {
  position: relative;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  height: 20vh;
  top: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
}

#featured-text {
  padding-left: 7%;
  line-height: 0 !important;
}

#title {
  padding-top: 5vh;
  padding-left: 5vw;
  width: 40vw;
}

a {
  text-decoration: none !important;
  text-decoration: underline !important;
}

.whitea {
  color: white !important;
}

.blacka {
  color: black !important;
}

.name {
  color: white !important;
  background-color: black;
}

.simage {
  height: 20vh;
}

.items {
  width: 70vw;
  padding-top: 10vh;
}

#pick {
  padding-top: 5vh;
  padding-left: 5vw;
}

.render {
  padding-top: 5vh;
}

.invis {
  display: none;
}
